.root {
  position: relative;
  margin-bottom: 1.25rem;
}

.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.input {
  width: 100%;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  @apply transition ease-in-out focus:border-blue-500 focus:outline-none;
}

.invalid {
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #f44336;
}

.icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -0.25rem;
  @apply transform translate-x-1/2 -translate-y-1/2 text-gray-500 h-6 w-6;
}
