/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.env.testing
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

/.idea
/.vscode
/.stuff

supervisord.log

# Barryvdh IDE Helper
_ide_helper.php

# Lighthouse IDE Helper
_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql
