includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - routes
        - tests

    level: 5
