.root {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
